@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body{
    overflow-y: scroll !important;
    scrollbar-color: #F6A317 #ffffff !important;

}



.container{
    padding: 0px 67px;
}

.site-link{
    text-decoration: none;
}


/* debut de style d'entête */

.navbar{
    height: 97px;
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999; /* Permet de mettre le nav au dessus de tous les autres éléments sur la page*/
}

.group-link{
    display: flex;
    gap: 50px;
}

.group-link li{
list-style: none;
}

.group-link li a{
    font-weight: 300;
    font-style: normal;    
    font-size: 22px;
    color: #204B9B;
}

.nav-button{
    width: 172px;
    height: 49px;
    color: #ffff;
    background-color: #F6A317;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

/* fin de style d'entête */

/* Début de style section 1 */

.section1{
    padding-top: 165px;
}
.section1-row1{
    display: flex;
    justify-content: space-between;
}
.col1{
    width: 598.78px;
}

.section1-row1 div h1{
    color: #204B9B;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.2%;
    /* width: 598.78px;
    height: 132px; */
    margin-bottom: 31px;
}

.section1-row1 div p{
    font-size: 25px;
    color: #171614;
    line-height: auto;
    /* width: 576.75px;
    height: 135px; */
    font-weight: 400;
    margin-bottom: 45px;
}

.section1-row1 div a{
    width: 218px;
    height: 63px;
}

.section1-row1 .col2{
    margin-right: 62px;
}

/* Fin de style section 1 */

.mobile-button{
    display: none;
}
/* Début de style:  responsivité */

/* -------------------Mobile 425px------------------------- */
@media screen and (max-width: 426px) {
    .container{
        padding: 0px 30px;
    }
    .section1{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .navbar{

    justify-content: center;
   }

   .navbar .group-link, .navbar .nav-button{
    display: none;
   }

   .section1-row1{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
   }

   .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   }

   .section1-row1 .col1 h1, .section1-row1 .col1 p{
    text-align: center;
    width: 100%;
   }

   .section1-row1 .col1 h1{
    font-size: 2.2em;
   }

   .section1-row1 .col1 p{
    font-size: 20px;
   }

   .section1-row1 .col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    gap: 40px;
   }

   .section1-row1 .col2 img{
    width: 100%;
   }

   .mobile-button{
    display: flex;
    }

   .desktop-button{
    display: none;
   }
}

/* Fin de style:  responsivité */

/* .box {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
  }
  
  .une {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
  }
  
  .deux {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .cinq {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .six {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  
  .huit {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  } */
